@use '../partials/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height: auto;

    color: white;
    font-size: 10px;
}

.footer_bottom{

}
header{
width: 100%;
}

.container{
    width: 80%;
}
img{
    max-width: 100%;
}
main{
    background-color: $darker;
    color: white;
    height: 600px;
    height: auto;
    .banner{
        width: 100%;
        background-color: $banner;
    }
}
